body {
  background-color: #fceed6;
}

:root {
  --primary-color: #007AF3;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.5em;
  border-right: 0.2em solid black;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 2em 1em 1em;
}

header .left_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* border: 0.1em solid black; */
  width: 70%;
  margin: 0 3em;
}

header .left_side .Main_picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em 0 2em;
  height: 300px;
  background-image: url("adventure.jpg");
  background-size: 1150px;
  width: 100%;
}

header .left_side .Main_picture form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .left_side .Main_picture form input[type="text"] {
  font-size: 20px;
}

header .left_side .Main_picture form button {
  margin: 0;
  display: inline;
  position: relative;
  background-color: var(--primary-color);
  font-size: 20px;
  color: wheat;
}

header .right_side {
  padding: 3em 0 0 0;
  display: inline;
  width: 20%;
  /* border: 0.1em solid black; */
}

header .right_side h2 {
  text-align: center;
  font-size: 2em;
}

header .right_side li {
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

header .right_side li:hover {
  text-decoration: underline;
}

main h2 {
  font-family: Courier New, monospace;
  text-align: center;
  margin-bottom: 3em;
}

main .testimonials-section {
  background: var(--primary-color);
  color: white;
}

main .testimonials-section li {
  background: #006BD6;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

main .testimonials-section li img {
  width: 5em;
  height: 5em;
  border: 5px solid #006BD6;
  border-radius: 50%;
  margin-top: -4.5em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

.container input, .container textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: blue;
}

.colum ::first-letter {
  font-size: 30px;
}

* ::-moz-selection {
  color: var(--primary-color);
}

* ::selection {
  color: var(--primary-color);
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 57%;
  right: 0;
  top: 0;
  background: #f0f3f5;
  height: 100vh;
  padding: 1em;
  color: black;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: #080808;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.contact_map {
  margin-top: 2em;
}

.contact_map .container h2 {
  font-family: Courier New, monospace;
}

.contact_map .container .contact-right {
  /* text-align: center; */
  margin-right: 0.5em;
}

.contact_map .container .contact-right iframe {
  width: 100%;
  height: 400px;
}

.contact_map .container .contact-left {
  margin-right: 0.3em;
}

footer {
  font-family: Courier New, monospace;
  margin-top: 2em;
  background-color: #4c4f56;
  color: #f8f7f6;
}

footer .upper_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .upper_footer .left_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 2em;
}

footer .upper_footer .left_footer h3 {
  cursor: pointer;
}

footer .upper_footer .left_footer h3 span {
  color: var(--primary-color);
}

footer .upper_footer .right_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

footer .upper_footer .right_footer p {
  margin-top: 1.5em;
}

footer .upper_footer .right_footer svg {
  width: 46px;
  border: solid 0.1em #4c4f56;
}

footer .upper_footer .right_footer ul {
  list-style: none;
}

footer .upper_footer .right_footer li {
  display: inline-block;
  padding: 0.3em;
}

footer .upper_footer .right_footer svg:hover {
  border: solid 0.1em white;
}

footer table {
  width: 100%;
  height: 80%;
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
}

footer table th {
  color: var(--primary-color);
  font-size: 1.2em;
  margin-bottom: 0.5em;
  font-family: Courier New, monospace;
}

footer table td {
  cursor: pointer;
}

footer table td:hover {
  text-decoration: underline;
}

footer table tr {
  width: 80%;
  margin: 0.8em;
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .container .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .container .contact-right iframe {
    height: 100%;
  }
  .testimonials-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials-section ul li {
    margin: 0 1em;
  }
  .contact_map {
    position: relative;
  }
  .contact_map .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 1080x) {
  .contact_map .contact-left {
    width: 70%;
  }
  .contact_map .contact-right {
    margin-top: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1.2em;
    padding: .1em 1em;
  }
  .navbar nav .logo {
    border: none;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
  }
  .navbar nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
}

@media only screen and (max-width: 768px) {
  header {
    display: block;
  }
  header .right_side {
    display: none;
  }
  header .left_side {
    display: block;
    width: 100%;
    margin: auto 0;
  }
  .navbar .logo {
    border-right: none;
  }
  .colum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .vary {
    display: block;
  }
  h2 {
    text-align: left;
  }
  footer .upper_footer .left_footer {
    width: 40%;
    margin-left: 1em;
  }
  footer .upper_footer .right_footer {
    width: 60%;
  }
}

@media only screen and (max-width: 550px) {
  .colum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .vary {
    display: block;
  }
  h2 {
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */